<%- include("partials/header.ejs") %>
<h1>Compose</h1>
<form action="/" method="post">
    <input type="text" name="newPost">
    <input type="submit" value="Publish">
</form>
<%- include("partials/footer.ejs") %>