<h1>Home</h1>

<% if(locals.homeContent){ %>
    <p><%= homeContent%></p> 
<% } if(locals.aboutContent){ %>
    <p><%= aboutContent%></p>
<% } if(locals.contactContent){ %>
    <p><%=contactContent %></p>
<% } %>
